/* login.scss */
.login-container {
    background-color: rgb(44, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .login-form {
    text-align: center;
  }
  
  .login-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message {
    color: #e74c3c;
    display: block;
    margin-top: 10px;
  }
  
  /* login.scss */
@media (max-width: 768px) {
    .login-form-container {
      width: 80%;
    }
  }
  